button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
    }
.container{
    margin-top: 10px;
}
input[type="text"]
{
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  width: 80%;
}
.input-group , .form-control
{
    width: 80%;
}
label , .label{
    color: #6f6868;
    margin: 10px 0;
    padding: 0;
    text-align: left !important;
    width:100%
}
.val{
    color: #212020;
}
.center {
    text-align: center;
}
 .center  .btn{
  margin: 20px 10px;
  background-color: #770dea;
  border-color: #770dea;
  width: 12vw;
}
.rightdiv{
  
 
  /*display: flex;*/
  align-items: center;
  justify-content: center;
   margin: 10% 0px;
   height: 100%;

}

.status-box{
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
    width: 100%;
    /*height: 100%;*/
   min-height: 60%;
    text-align: center;
    background: #f5f5f55e;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
   /*  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
  }
  /*For IE*/
  select::-ms-expand { display: none; }


  .rightDivEqual .center {
    text-align: center;
  }
  .rightDivEqual .center  .btn {
    margin: 10px 10px;
    width: 22vw;
  }
  .rightDivEqual .btn{
  
    background-color: #770dea;
    border-color: #770dea;
  
  }
.btn-red, .btn-white{

    color:red;

}
.btn-pluss , .btn-minuse{

    background-color:transparent;
    border-color: transparent;

}
.leftBorder{
    border-left: 1px solid grey;
    padding: 0px 23px 46px 23px;
}
.rightDivEqual  label ,.rightDivEqual .label{
  color: #6f6868;
  margin: 10px 0;
  padding: 0;
  text-align: left !important;
  width:100%
}
.rightDivEqual  .val {
  color: #212020;
  margin: 10px 0px;
}
.step5 .input-group ,.step5  input[type="text"]
{
     width: 10px;;
}
div.filediv{
border: 1px solid #d1d6d3;
    position: relative;
    color: #fff;
    border-radius: 2px;
    text-align: center;
    float: left;
    cursor: pointer;
    width: 49%;
    text-align: left;
}
.hide_file {
    position: absolute;
    z-index: 1000;
    opacity: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 24px;
    width: 100%;
}
.choosePhoto{
  width: 40% !important;
 
  background: #e8e8e8;
  margin: 0;
  padding: 3px 5px;
}
.row {
  
  margin-bottom: 1vw;
}
input.joyride{
  border:none;
  border-bottom:1px solid grey;
}
.bikerPhotoDis{
  width: 80%;
  max-height: 164px;
  position: absolute;
  border: 1px solid gray;
  padding: 20px;
}